/* header */
header {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 40px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #202C4C;
  font-weight: bold;
  font-size: 20px;
}

header nav ul li a:hover {
  color: #dd8a2e;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li {
  margin: 5px 15px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #dd8a2e;
}

.dark {
  background-color: #121212;
  color: white;
}

.dark a {
  color: #31579f;
}

#themeToggle {
    margin-right: 300px;
    margin-top: 12px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #172152;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    font-weight: bold;
}

#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dark table td {
    color: white;
    font-weight: bold;
}

.dark table th {
    background-color: #294d8b;
    color: white;
}

.dark .popup-content {
    background-color: #121212;
    color: white;
    font-weight: bold;
}

.dark .popup-content hr {
    border-color: white;
}

.dark .read-more,
.dark .read-less {
    color: #dd8a2e;
    font-weight: bold;
}