html, body {
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #DEEBf6;
}

h1{
    text-align: center;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    border: solid #ddd;
    padding: 8px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    background-color: #172152;
    color: #FFFFFF;
    text-align: center;
}

.nav-button{
    margin-top: 7px;
    text-align: center;
}

.clickable{
    cursor: pointer;
}


/*popupstyle*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  background-color: #fff;
  font-size: 25px;
  text-align: center;
  margin: 10% auto;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s ease-in-out;
}

.popup-content hr {
    width: 100%;
    border-top: 2px solid black;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-50px); }
  to { opacity: 1; transform: translateY(0); }
}

.close {
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.popup-button {
  padding: 10px 20px;
  margin: 10px 5px 0 5px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content #join {
  background-color: #28a745;
  color: #fff;
  float: left;
}

.popup-content #cancel {
  background-color: #dc3545;
  color: #fff;
  float: right;
}

button:hover {
  opacity: 0.8;
  box-shadow: 0 0 15px rgba(23, 94, 152, 0.98);
}