html, body {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: lexend-deca, sans-serif;
    background-color: #192848;
    color: white;
}

h1 {
    text-align: center;
    font-family: atkinson-hyperlegible, sans-serif;
    margin: 10px auto 30px auto;
    color: #192848;
}

label {
    color: #202c4c;
}

button {
    display: block;
    margin: 20px auto;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #31579f;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background-color: #294d8b;
}

form {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 50%;
    margin: 50px auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid Black;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
    color: black;
}

textarea::placeholder {
    color: #949196;
}

select {
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.leeftijd {
    display: flex;
    gap: 10px;
}

.leeftijd div {
    flex: 1;
}

.radio-button {
    display: flex;
    font-weight: normal;
    gap: 10px;
    align-items: center;
}

.radio-button input[type="radio"] {
  margin-right: 5px;
}

.radio-button label {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}

.plaatsdeelnemersrow,
.datum,
.beperking-type-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.plaatsdeelnemers,
.starteinddatum,
.beperking-type {
    flex: 1;
}

.beperking-type label {
  display: block;
  margin-bottom: 8px;
}

#aantal-deelnemers,
#max-leeftijd,
#min-leeftijd {
    max-width: 60px;
    margin-left: 10px;
}

#startdatum,
#einddatum {
    max-width: 120px;
    margin-left: 10px;
}

#plaats {
    max-width: 200px;
    margin-left: 10px;
}