html, body {
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: lexend-deca, sans-serif;
    background-color: #192848;
    color: white;
}

h1 {
    text-align: center;
    font-family: atkinson-hyperlegible, sans-serif;
    margin-bottom: 10px;
}

label {
    color: #041F74;
}

button {
    display: block;
    margin: 20px auto;
    font-family: poppins, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #3258a0;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background-color: #294d8b;
}

.radio-button {
    display: flex;
    font-weight: normal;
    gap: 10px;
    align-items: center;
}

.radio-button label {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}

form {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 50%;
    margin: 50px auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid Black;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    color: black;
}

textarea::placeholder {
  color: #949196;
}

.leeftijd {
    display: flex;
    gap: 10px;
}

.leeftijd div {
    flex: 1;
}

.plaatsdeelnemersrow,
.datum {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.plaatsdeelnemer,
.starteinddatum{
    flex: 1;
}

#aantal-deelnemers,
#max-leeftijd,
#min-leeftijd {
    max-width: 60px;
    margin-left: 10px;
}

#startdatum,
#einddatum {
    max-width: 120px;
    margin-left: 10px;
}

#plaats {
    max-width: 200px;
    margin-left: 10px;
}