body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1{
    text-align: left;

}


.container {
    width: 100%;
    max-width: none;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.add-btn {
    display: block;
    margin-left: auto;
    background-color: #005a9c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #004a86;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #005a9c;
    color: white;
}

.nav-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #005a9c;
    color: white;
}

button:hover {
    background-color: #004a86;
}

.accept {
    background: #4CAF50;
    color: white;
}

.reject {
    background: #F44336;
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.popup-content {
    text-align: center;
}

.close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}