@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=Lexend+Deca:wght@400&family=Poppins:wght@700&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #202C4C; /* Achtergrondkleur uit styleguide */
    color: #FFFFFF; /* Primaire tekstkleur */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: #FFFFFF;
    color: #202C4C;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    font-family: 'Atkinson Hyperlegible', sans-serif; /* Primaire koppen */
    text-align: center;
}

.dark_bg {
    color: #FFFFFF;
}

.light_bg {
    color: #202C4C;
}

.accent {
    color: #F3D531; /* Accentkleur*/
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #202C4C;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #202C4C;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; /* Knoppen */
    color: #FFFFFF;
}

.btn-cancel {
    background-color: #AA2532; /* Alertkleur */
}

.btn-register {
    background-color: #31579F; /* Knoppenkleur */
}

link {
    color: #DD8A2E; /* Link kleur */
    text-decoration: none;
    font-weight: bold;
}

.alert {
    color: #AA2532; /* Alertkleur */
    font-weight: bold;
}

.form-group {
    position: relative;
}

#suggestions {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background: #F3D531;
    color: #202C4C;
}

/* Gekozen beperkingen als tags weergeven */
#selected-beperkingen {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.beperking-tag {
    background-color: #31579F;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.remove-beperking {
    background: none;
    border: none;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}