html, body {
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #DEEBf6;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    border: solid #ddd;
    padding: 8px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    background-color: #172152;
    color: #FFFFFF;
    text-align: center;
}

.search-container {
    margin: 7px 20px;
    text-align: right;
}

.nav-button{
    margin-top: 7px;
    text-align: center;
}

.clickable{
    cursor: pointer;
}