<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/base.css"/>
        {% block head_scripts %}
        {% endblock %}
    {% endblock %}
</head>

<body>
    <header>
    <img src="{{ url_for('static', filename='/images/Logo_black.png') }}"
         data-logo-light="{{ url_for('static', filename='/images/Logo_black.png') }}"
         data-logo-dark="{{ url_for('static', filename='/images/Logo_white.png') }}"
         alt="Accessibility logo"/>
    <nav>
        <ul>
            <li><a href="/onderzoeksvragen">Onderzoeken</a></li>
            <li><a href="/registrations">Registraties</a></li>
        </ul>
    </nav>
</header>
    {% block main %}
    {% endblock %}
    <footer>
        <ul>
            <li>© 2025 Stichting Accessibility</li>
            <li><a href="https://www.accessibility.nl/disclaimer">Disclaimer</a></li>
            <li><a href="https://www.accessibility.nl/colofon">Colofon</a></li>
            <li><a href="https://www.accessibility.nl/privacy-en-cookieverklaring">Privacy en cookieverklaring</a></li>
            <li><a href="https://www.accessibility.nl/sitemap">Sitemap</a></li>
            <li><a href="https://www.accessibility.nl/toegankelijkheidsverklaring">Toegankelijkheidsverklaring</a></li>
        </ul>
    </footer>
    <script src="../static/js/theme.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>



