{% extends "base.html.jinja" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Atkinson+Hyperlegible:wght@400;700&family=Poppins:wght@700&display=swap" rel="stylesheet">

{% block head_scripts %}
    <script src="/static/js/registrations.js"></script>
{% endblock %}
    <title>Registratiebeheer</title>
{% endblock %}

{% block main %}
    <main>
        <h1>Registraties</h1>
        <div class="tab-buttons">
            <button onclick="loadRegistrations('registraties')" aria-label="Bekijk Registraties">Registraties</button>
            <button onclick="loadRegistrations('inschrijvingen')" aria-label="Bekijk Inschrijvingen">Inschrijvingen</button>
            <button onclick="loadRegistrations('onderzoeksaanvragen')" aria-label="Bekijk Onderzoeksaanvragen">Onderzoeksaanvragen</button>
            <button class="add-btn"> <a href="/rd" class="add-btn-link">Nieuwe Registratie</a> </button>
        </div>

        <table>
            <thead id="tableHeader">
                <tr>

                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Email</th>
                <th scope="col">Actie</th>

                </tr>
            </thead>
            <tbody id="registrationsTable">
                <!-- Dynamische inhoud komt hier -->
            </tbody>
        </table>

        <div class="nav-button">
            <a id="prev" class="nav-left" aria-label="Vorige pagina"><button>Vorige</button></a>
            <a id="next" class="nav-right" aria-label="Volgende pagina"><button>Volgende</button></a>
        </div>

        <div id="popup" class="popup" aria-live="polite">
            <div class="popup-content">
                <button class="close-btn" aria-label="Sluit pop-up" onclick="closePopup('popup')">&times;</button>
                <h2 id="popupName"></h2>
                <h3 id="popupText"></h3>
                <p id="popupBirthdate"></p>
                <p id="popupGender"></p>
                <p id="popupEmail"></p>
                <p id="popupPhoneNumber"></p>
                <p id="popupDisabilities"></p>
                <br>
                <button id="acceptButton" class="accept">Accepteren</button>
                <button id="rejectButton" class="reject">Weigeren</button>
            </div>
        </div>
    </main>
{% endblock %}

