<head>
{% extends "base.html.jinja" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/onderzoeksvragen_overzicht.css"/>
    {% include '_global_imports.html' %}
    {% block head_scripts %}
    <script defer src="../static/js/onderzoeksvragen_popup.js"></script>
    {% endblock %}

{%  block main %}
</head>
<body>


    <main>
        <h1>Onderzoeken</h1>
        <div class="search-container">
            <input type="text" name="search" placeholder="Zoek een trefwoord.." class="search-input">
            <button type="submit" class="search-button">Zoeken</button>
            <button id="add-button" class="add-btn">+</button>
        </div>

    <div class="filter-container">
            <button id="filter-button" class="filter-btn">Filter op beperking</button>
            <select id="beperking-filter" class="filter-dropdown">
                <option value="">Alle beperkingen</option>
                {% for beperking in beperkingen %}
                    <option value="{{ beperking }}">{{ beperking }}</option>
                {% endfor %}
            </select>
        </div>

        <table>
            <tr>
                <th>Onderzoek</th>
                <th>Doelgroep</th>
                <th>maximaal aantal deelnemers</th>
            </tr>

            {% for vraag in vragen %}

            <tr class="clickable" data-title="{{ vraag.titel }}" data-info="{{ vraag.beschrijving }}" data-deelnemers="{{ vraag.max_deelnemers }}" data-beschikbaar="{{ vraag.beschikbaar }}"
            data-onderzoek-id ="{{ vraag.onderzoek_id }}" data-id="{{ vraag.onderzoek_id }}">
                <td>{{ vraag.titel }}</td>
                <td>{{ vraag.beperking }}</td>
                <td>{{ vraag.max_deelnemers }}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="nav-button">
            <a id="prev">
                <button>Vorige 10</button>
            </a>
            <a id="next">
                <button>Volgende 10</button>
            </a>
        </div>

        <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2 id="popup-titel">Onderzoeksvraag</h2>
            <p class="popup-info-short" id="popup-info">
                <span id="popup-info-text"></span>
                <span class="read-more" id="read-more">Lees meer</span>
                <span class="read-less" id="read-less">Lees minder</span>
            </p>

            <hr>

            <p><strong>maximaal aantal deelnemers: </strong><span id="popup-max_deelnemers">N/A</span></p>
            <p><strong>beschikbare plaatsen: </strong><span id="popup-beschikbaar">N/A</span></p>
            {% if goedkeuren == "1" %}
                <button id="bekijk-aanvragen" aria-label="aanmeldingen bekijken knop" class="popup-button">Bekijk aanmeldingen</button>
            {% else %}
                <button id="cancel" class="popup-button">niet deelnemen</button>
                <button id="join" class="popup-button" data-onderzoek-id="">deelnemen</button>
            {% endif %}
        </div>
    </div>
    </main>
{% endblock %}