<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onderzoeken</title>
    <link rel="stylesheet" href="../static/css/onderzoeksvragen_overzicht.css"/>
    <script defer src="../static/js/onderzoeksvragen_popup.js"></script>

    {% include '_global_imports.html' %}
</head>
<body>
    <header>
        <nav>
            <!-- Hier komt de nav-bar -->
        </nav>
    </header>

    <main>
        <h1>Onderzoeken</h1>
        <div class="search-container">
            <input type="text" name="search" placeholder="Zoek een trefwoord.." class="search-input">
            <button type="submit" class="search-button">Zoeken</button>
            <button><a style="text-decoration: none " class="add-btn" href="/aanmaken-onderzoeksvraag" >+</a></button>
        </div>

        <table>
            <tr>
                <th>Onderzoek</th>
                <th>Doelgroep</th>
                <th>Deelnemers</th>
            </tr>
            <tr class="clickable" data-title="Onderzoek 1" data-info="Visueel beperkt" data-deelnemers="0/10">
                <td>Onderzoek 1</td>
                <td>Visueel beperkt</td>
                <td>0/10</td>
            </tr>
            <tr class="clickable" data-title="Onderzoek 2" data-info="slechthorend" data-deelnemers="0/5">
                <td>Onderzoek 2</td>
                <td>Slechthorend</td>
                <td>0/5</td>
            </tr>
        </table>

        <div class="nav-button">
            <a id="prev">
                <button>Vorige 10</button>
            </a>
            <a id="next">
                <button>Volgende 10</button>
            </a>
        </div>

        <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2 id="popup-titel">Onderzoeksvraag</h2>
            <p id="popup-info">Informatie over de onderzoeksvraag.</p>

            <hr>

            <p><strong>Deelnemers: </strong><span id="popup-deelnemers">0/10</span></p>
            <button id="join" class="popup-button">deelnemen</button>
            <button id="cancel" class="popup-button">niet deelnemen</button>
        </div>
    </div>

    </main>

    <footer>
        <!-- Hier komt de footer -->
    </footer>

</body>
</html>