{% extends "base.html" %}

{% block head %}
    <title>Onderzoeksvraag aanmaken</title>
    <link rel="stylesheet" href="../static/css/onderzoeksvragen_aanmaken.css"/>
    {% include '_global_imports.html' %}
{% endblock %}

{% block main %}
<main>
    <h1>Onderzoeksvraag aanmaken</h1>
    <form id="aanvraag-form" action="/api/aanmaken-onderzoeksvraag" method="POST">
        <label for="onderzoekstitel">Onderzoekstitel</label>
        <input type="text" name="onderzoekstitel" id="onderzoekstitel" required/>

        <label for="omschrijving">Omschrijving</label>
        <textarea name="omschrijving" id="omschrijving"
                  placeholder="Beschrijf hier uw onderzoek in detail. Vermeld de onderzoeksvraag, relevante context en eventuele beloningen of deelnamevoorwaarden."
                  required></textarea>

        <div class="plaatsdeelnemersrow">
            <div class="plaatsdeelnemers">
                <label for="plaats">Plaats</label>
                <input type="text" name="plaats" id="plaats" required/>
            </div>
            <div class="plaatsdeelnemers">
                <label for="aantal-deelnemers">Aantal deelnemers nodig</label>
                <input type="number" name="aantal-deelnemers" id="aantal-deelnemers" required/>
            </div>
        </div>


        <div class="leeftijd">
            <div>
                <label for="min-leeftijd">Minimale Leeftijd</label>
                <input type="number" name="min-leeftijd" id="min-leeftijd" min="0" required/>
            </div>
            <div>
                <label for="max-leeftijd">Maximale Leeftijd</label>
                <input type="number" name="max-leeftijd" id="max-leeftijd" min="0" required/>
            </div>
        </div>
        <div class="beperking-type-row">
            <div class="beperking-type">
                <label for="beperking">Beperking</label>
                <select name="beperking" id="beperking" required>
                    {% for beperking in beperking %}
                        <option value="{{ beperking.beperkingen_id }}">{{ beperking.beperking }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="beperking-type">
                <label for="type-onderzoek">Type onderzoek</label>
                <select name="type-onderzoek" id="type-onderzoek" required>
                    <option value="1">locatie</option>
                    <option value="2">telefonisch</option>
                    <option value="3">online</option>
                </select>
            </div>
        </div>
        <label for="begeleiders">Mogen eventuele begeleiders mee?</label>
        <div class="radio-button">
            <label for="begeleiders-ja">
                <input type="radio" name="begeleiders" value="ja" required/> Ja
            </label>
            <label for="begeleiders-nee">
                <input type="radio" name="begeleiders" value="nee"/> Nee
            </label>
        </div>
        <div class="datum">
            <div class="starteinddatum">
                <label for="startdatum">Startdatum</label>
                <input type="date" name="startdatum" id="startdatum" required/>
            </div>
            <div class="starteinddatum">
                <label for="einddatum">Einddatum</label>
                <input type="date" name="einddatum" id="einddatum" required/>
            </div>
        </div>

        <label for="beloning">Beloning</label>
        <div class="radio-button">
            <label for="beloning-ja">
                <input type="radio" name="beloning" value="ja" required/> Ja
            </label>
            <label for="beloning-nee">
                <input type="radio" name="beloning" value="nee"/> Nee
            </label>
        </div>

        <button type="submit">Aanmaken</button>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script src="../static/js/onderzoeksvragen_aanmaken.js"></script>
{% endblock %}