<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onderzoeken</title>
    {% include '_global_imports.html' %}
</head>
<body>
    <header>
        <nav>
            <!-- Hier komt de nav-bar -->
        </nav>
    </header>

    <main>
        <h1>Onderzoeksvraag aanmaken</h1>
        <form>
            <label for="onderzoekstitel">Onderzoekstitel</label><br>
            <input type="text" name="onderzoekstitel" id="onderzoekstitel"/><br>

            <label for="omschrijving">Omschrijving</label><br>
            <input type="text" name="omschrijving" id="omschrijving"/><br>

            <label for="doelgroep">Doelgroep:</label><br>
            <input type="text" name="doelgroep" id="doelgroep"/><br>

            <label for="plaats">Plaats</label><br>
            <input type="text" name="plaats" id="plaats"/><br>

            <label for="begeleiders">Begeleiders:</label><br>
                <label>
                   <input type="radio" name="begeleiders" value="ja"/> ja
                </label>
                <label>
                        <input type="radio" name="begeleiders" value="nee"/> nee
                </label><br>

            <label for="beperking">Beperking</label><br>
            <input type="text" name="beperking" id="beperking"/><br>

            <label for="aantal-deelnemers">Aantal deelnemers nodig:</label><br>
            <input type="text" name="aantal-deelnemers" id="aantal-deelnemers"/><br>
        </form>
    </main>

    <footer>
        <!-- Hier komt de footer -->
    </footer>
</body>
</html>