{% extends "base.html.jinja" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Atkinson+Hyperlegible:wght@400;700&family=Poppins:wght@700&display=swap" rel="stylesheet">

{% block head_scripts %}
    <script src="/static/js/registrations.js"></script>
{% endblock %}
    <title>Registratiebeheer</title>
{% endblock %}

{% block main %}
    <main>
        <h1>Registraties</h1>
        <button class="add-btn"> <a href="/rd" class="add-btn-link">Nieuwe Registratie</a> </button>


        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Email</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody id="registrationsTable">
                <!-- Dynamische inhoud komt hier -->
            </tbody>
        </table>

        <div class="nav-button">
            <a id="prev" class="nav-left">
                <button>Vorige</button>
            </a>
            <a id="next" class="nav-right">
                <button>Volgende</button>
            </a>
        </div>

        <div id="popup" class="popup">
            <div class="popup-content">
                <button class="close-btn" onclick="closePopup('popup')">&times;</button>
                <h2 id="popupName"></h2>
                <p id="popupBirthdate"></p>
                <p id="popupGender"></p>
                <p id="popupEmail"></p>
                <p id="popupPhoneNumber"></p>
                <p id="popupDisabilities"></p>
                <br>
                <button id="acceptButton" class="accept">Accepteren</button>
                <button id="rejectButton" class="reject">Weigeren</button>
            </div>
        </div>
    </main>
{% endblock %}

